@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

/* tailwind css */
@import "tailwindcss";
@theme {
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
}

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}
.animate-bounce-slow {
  animation: bounce-slow 3s infinite ease-in-out;
}

